@import "tailwindcss";



.font-regular {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-light {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

.font-regular {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

.font-medium {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

.font-bold {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

.icon-hover {
  cursor: pointer;
  transition: transform 0.25s ease-in-out, filter 0.25s ease-in-out;
}

.icon-hover:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.25));
}

.icon-hover:active {
  transform: scale(0.85);
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.25));
}

.theme-animate {
  transition:
    background-color 0.45s ease,
    color 0.45s ease;
}

/* already existing */
.bg-darkmode {
  background-color: #030521;
}

.bg-lightmode {
  background-color: #ffffff;
}

.text-darkmode {
  color: #ffffff;
}

.text-lightmode {
  color: #000000;
}
