@import "tailwindcss";

/* Fonts */
.font-light { font-family: "Oswald", sans-serif; font-weight: 300; }
.font-regular { font-family: "Oswald", sans-serif; font-weight: 400; }
.font-medium { font-family: "Oswald", sans-serif; font-weight: 500; }
.font-bold { font-family: "Oswald", sans-serif; font-weight: 700; }


.icon-hover {
  cursor: pointer;
  transition: transform 0.25s ease-in-out, filter 0.25s ease-in-out;
}
.icon-hover:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.25));
}
.icon-hover:active {
  transform: scale(0.85);
}

/* Theme animation */
.theme-animate {
  transition: background-color 0.45s ease, color 0.45s ease;
}

/* Dark / Light */
.bg-darkmode { background-color: #030521; }
.bg-lightmode { background-color: #ffffff; }
.text-darkmode { color: #ffffff; }
.text-lightmode { color: #000000; }

/* Scrollbar */
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: auto;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
