<h2>CERTIFICATE OF APPRECIATION</h2>
<p>Date: {{ today }}</p>

<p>This certificate is proudly presented to</p>

<h3>{{ name }}</h3>

<p>
In recognition of outstanding performance as {{ designation }}.
</p>
<p>To Whom It May Concern,</p>

<p>I am pleased to recommend {{name}}, who worked with codexconquer as a {{designation}} from {{joining_date}} to [End Date].</p>

</p>During this period, {{name}} consistently demonstrated strong professional skills, a positive attitude, and a high level of dedication. They were responsible for [briefly mention key responsibilities] and performed these duties with efficiency and sincerity.</p>

<p>One of [his/her/their] key strengths is [problem-solving, teamwork, leadership, technical skills], which made a meaningful contribution to our team. {{name}} also maintained excellent working relationships with colleagues and supervisors.

<p>I am confident that {{name}} will be a valuable asset to any organization and will continue to excel in future roles. I strongly recommend [him/her/their] without reservation.</p>
</p>

<p>HR Department</p>
