<!DOCTYPE html>
<html>
<head>
    <title>Employees</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial;
            background: #f4f6f8;
        }
        table {
            width: 80%;
            margin: 50px auto;
            border-collapse: collapse;
            background: white;
        }
        th, td {
            padding: 12px;
            border: 1px solid #ccc;
            text-align: center;
        }
        th {
            background: #007bff;
            color: white;
        }
    </style>
</head>
<body>

<h2 style="text-align:center;">Employee List</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Designation</th>
        <th>Joining Date</th>
        <th>Email</th>
    </tr>

    {% for emp in employees %}
    <tr>
        <td>{{ emp.id }}</td>
        <td>{{ emp.name }}</td>
        <td>{{ emp.designation }}</td>
        <td>{{ emp.joining_date }}</td>
        <td>{{ emp.email }}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
